.box-1 {
  position: relative;
  top: 10px;
  left: 20px;
  background-color: rgb(20, 81, 81);
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.box-2 {
  position: absolute;
  top: 50px;
  left: 60px;
  background-color: rgb(220, 124, 89);
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.box-3 {
  position: absolute;
  top: 90px;
  left: 100px;
  background-color: rgb(244, 63, 63);
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.box-4 {
  position: relative;
  top: 90%;
  left: 50%;
  /* margin: 0 auto; */
  transform: translate(-50%, -50%);
  background-image: url("https://cdn.pixabay.com/photo/2014/04/02/10/46/tree-304510_1280.png");
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.box {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.navbar {
  position: fixed;
  background-color: rgb(63, 226, 244);
  height: 100%;
  width: 100%;
  color: white;
}
